################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TelefoniaEntidades/.vs/TelefoniaEntidades/v16/Server/sqlite3
